body, ul, h1, p, li{
    padding: 0;
    margin: 0;
} 
body{
    background-color: #303441;
    color: #ffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   
   img{
        width: 200px;
        height: 200px;
    }

    ul{
        list-style: none;

    }


    .conteiner{
        width: 940px;
        margin: 0 auto;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        
    }
    .nav_item{
        color: #ffff;
        text-decoration: none;
        font-size: 12px;
        
    }

    .nav_item + .nav_item { /* прибирає відступ від першого item <<margin>> */
        margin-left:30px;
    }

    .logo_link{
        color: #ffff;
        text-decoration: none;
        font-size: 32px;
        font-weight: bold;
    }

    .nav{
        display: flex;
        
    }

    .section{   
        padding: 40px 0;
    }

    .section_title{
        font-size: 30px;
        color: #ffff;
        margin-bottom: 30px;
    }
    .section_description{
        font-size: 18px;
        color: #ffff;
        margin-bottom: 50px;
    }

    .galery{
        display: flex;
        flex-wrap: wrap;    
        justify-content: space-between;
       
    }

    .galery_item{
        margin-bottom: 15px;
    }